@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Kumbh+Sans&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
  
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
  }
  

body {
    font-size: 15px;
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--very-light-gray);
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
h1 {
    font-family: 'Big Shoulders Display', cursive;
    margin-bottom: 1.5rem;
}
.image-container img {
    width: 15%;
    height: auto;
    margin: 1rem;
}
.card {
    width: 18rem;
    line-height: 2;
    padding: 2rem;
}
#column1 {
    background-color: var(--bright-orange);
}
#column2 {
    background-color: var(--dark-cyan);
}
#column3 {
    background-color: var(--very-dark-cyan);
}
p {
    color: var(--transparent-white);
}
.btn {
    background-color: var(--very-light-gray) ;
    border-radius: 20px;
    font-size: 15px;
    margin-top: 4.5rem;
}
#btn1 {
    color: var(--bright-orange);
}
#btn2 {
    color:var(--dark-cyan);
}
#btn3 {
    color: var(--very-dark-cyan);
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@media only screen and (max-width:768px) {
    main {
        flex-direction: column;
        margin: 20rem;
    }
    
}